* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#watch-wrapper{
    display: flex;
    height: 100%;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 700px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-text-right{
    margin-right: 25px;
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

.product-img {
    width: 100%;
}

.price-text {
    color: #333;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    margin-right: 15px;
}

.send-button {
    height: 40px;
}

.message-area {
    max-height: 87px;
}

.iframe-stream {
    min-height: 500px;
    height: 800px;
}

#profile{
    min-height: 500px;
    height: 760px;
    overflow-x: auto;
}

.card{
    margin-top: 10px;
    width: 560px;
    margin: 10px auto;
}

#close-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#close{
    margin-top: 10px;
}

#to-index, #copy-link {
    margin-top: 10px;
    margin-left: 5px;
    height: 40px;
}

#profile {
    min-height: 550px;
    height: 800px;
    overflow-x: auto;
}

#products {
    min-height: 500px;
    height: 750px;
    overflow-x: auto;
}

.btn-add-to-basket {
}

.buy-button {
}