<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--<link rel="shortcut icon" href="~/images/logo32.png" type="image/x-icon">-->
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div>
        Header
    </div>

    @RenderBody()
</body>
</html>