@{
    ViewBag.Title = "Главная";
}

@if (User.Identity.IsAuthenticated) 
{
    <p>Authenticated</p>
}

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    connection.start();

    connection.on("Connected", () => {
        console.log("Connected");
    });
</script>